REDIS_HOST=redis
REDIS_PORT=6379
KAFKA_HOST=kafka
KAFKA_PORT=9092
FASTAPI_PORT=8000
SENTRY_SDK_DSN=https://6d5f9c5f589e457ba02aa46f90523735@o1297506.ingest.sentry.io/6526144
DB_HOST=db-auth
DB_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=postgres
REDIS_HOST=redis
REDIS_PORT=6379
AUTH_PORT=5000
